* {
    margin: 0px;
    padding: 0;
}

:root, html, body {
    background: linear-gradient(to bottom right, #d140d2, #4a6df1);
    color: rgba(0, 0, 0, 0.94);
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.94);
    background: rgba(255, 255, 255, 0.5);
    border: solid 2px rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    padding: 0.2rem;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: ease-out 80ms;
}

a:active {
    opacity: 0.8;
    color: rgba(0, 0, 0, .4);
}

.back {
    width: 98%;
    height: 98%;
    
}

.info_card {
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    width: 80%;
    height: 56%;
}

.back, .info_card, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.info_card > * {
    margin: 0.5rem;
}

@media (min-width: 43rem) {
    .back {
        border: solid 3px #ffffff;
        width: 19rem;
        height: 33rem;
    }

    .info_card > * {
        margin: 0.25rem;
    }
}